@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

ul, li {
    list-style: none;
}

h6,h3{
    font-weight: normal;
}

#main {
    width: 640px;
    height: 960px;
    position: absolute;
    margin-left: -320px;
    left: 50%;
    top: 0;
    transform-origin: top;
    -webkit-transform-origin: top;
}
/*music style*/
#musicBtn {
    display: none;
    position: absolute;
    top: 3%;
    right: 12%;
    width: 50px;
    height: 50px;
    background: url("img/music.svg") no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

.musicMove {
    -webkit-animation: musicMoveFrm 1s linear 0s infinite;
    animation: musicMoveFrm 1s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes musicMoveFrm {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMoveFrm {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*loading style*/
#loading {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: black;
}

.processbox {
    width: 80%;
    margin: 0 10%;
    background: white;
    height: 40px;
    border-radius: 15px;
    position: absolute;
    top: 480px;
    overflow: hidden;
}

.process {
    width: 0;
    height: 40px;
    background-image: -webkit-linear-gradient(45deg, #61bb61 0%, #71c171 25%, #61bb61 50%, #71c171 75%, #61bb61 100%);
    background-image: linear-gradient(45deg, #61bb61 0%, #71c171 25%, #61bb61 50%, #71c171 75%, #61bb61 100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;

}
/*firstPage style*/
.outerSqu {
    perspective: 200px;
}

/*.squ {*/
    /*position: absolute;*/
    /*margin-left: -100px;*/
    /*left: 40%;*/
    /*top: 0;*/
    /*width: 250px;*/
    /*height: 250px;*/
    /*border: 1px solid #ADD8E6;*/
    /*transform-style: preserve-3d;*/
    /*transform-origin: center center;*/
    /*animation: rotateMove 1.5s;*/
    /*-webkit-animation: rotateMove 1.5s;*/
/*}*/

/*@keyframes rotateMove {*/
    /*0% {*/
        /*transform: rotateY(0deg) translateZ(0)*/
    /*}*/
    /*50% {*/
        /*transform: rotateY(360deg) translateZ(100px)*/
    /*}*/
    /*100% {*/
        /*transform: rotateY(720deg) translateZ(0)*/
    /*}*/
/*}*/

/*@-webkit-keyframes rotateMove {*/
    /*0% {*/
        /*transform: rotateY(0deg) translateZ(0)*/
    /*}*/
    /*50% {*/
        /*transform: rotateY(360deg) translateZ(100px)*/
    /*}*/
    /*100% {*/
        /*transform: rotateY(720deg) translateZ(0)*/
    /*}*/
/*}*/

/*.squ1 {*/
    /*-webkit-animation-delay: 0.1s;*/
    /*animation-delay: 0.1s;*/
/*}*/

/*.squ2 {*/
    /*-webkit-animation-delay: 0.15s;*/
    /*animation-delay: 0.15s;*/
/*}*/

/*.squ3 {*/
    /*-webkit-animation-delay: 0.2s;*/
    /*animation-delay: 0.2s;*/
/*}*/

/*!*.squ4{*!*/
/*!*-webkit-animation-delay: 0.25s;*!*/
/*!*animation-delay: 0.25s;*!*/
/*!*}*!*/
.innerSqu {
    position: absolute;
    margin-left: -120px;
    left: 50%;
    top: 0;
    width: 240px;
    height: 240px;
    border: 10px solid #ADD8E6;
    background: url('img/smile.png') center center;
    transform: translate(15px, 0px);
    animation: rotateMove1 1.75s;
    -webkit-animation: rotateMove1 1.75s;
}

@keyframes rotateMove1 {
    0% {
        transform: rotateY(0deg) translateZ(0)
    }
    50% {
        transform: rotateY(360deg) translateZ(100px)
    }
    100% {
        transform: rotateY(720deg) translateZ(0)
    }
}

@-webkit-keyframes rotateMove1 {
    0% {
        transform: rotateY(0deg) translateZ(0)
    }
    50% {
        transform: rotateY(360deg) translateZ(100px)
    }
    100% {
        transform: rotateY(720deg) translateZ(0)
    }
}

#main ul li {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
    background: url("img/back1.jpg") no-repeat;
}

#main ul li.zIndex {
    z-index: 6;
}
/*arrow style*/
.arrow {
    background: url("img/arr.png") no-repeat;
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 52px;
    width: 100px;
    animation: 1s infinite arrowMove;
    -webkit-animation: 1s infinite arrowMove;
    -o-animation: 1s infinite arrowMove;
}

@keyframes arrowMove {
    0% {
        transform: translateY(0);
        opacity: 0
    }
    50% {
        transform: translateY(-25px);
        opacity: 1
    }
    100% {
        transform: translateY(-35px);
        opacity: 0
    }
}

@-webkit-keyframes arrowMove {
    0% {
        transform: translateY(0);
        opacity: 0
    }
    50% {
        transform: translateY(-25px);
        opacity: 1
    }
    100% {
        transform: translateY(-35px);
        opacity: 0
    }
}

.name {
    font-size: 80px;
    color: #ADD8E6;
    text-align: center;
    padding-top: 80px;
}

.a1 {
    width: 40%;
    height: 40%;
    left: 45%;
    position: absolute;
    top: 25%;
    margin-left: -15%;
}

.bubble {
    width: 500px;
    height: 300px;
    font-size: 50px;
    color: #808080;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -250px;
}

.bubble p {
    margin-bottom: 15px;
}

.bubble p:nth-child(1) {
    font-size: 65px;
    padding-left: 250px;
    animation-duration: 1s;
}

.bubble p:nth-child(2) {
    padding-left: 150px;
    color: #ADD8E6;
    animation-delay: 0.5s;
}

.bubble p:nth-child(3) {
    animation-delay: 0.7s;
}
/*twoPage style*/
.nature h3 {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 50%;
    margin-left: -320px;
    top: 20px;
    font-size: 80px;
    text-align: center;
    color: #ADD8E6;
}

.nature div {
    height: 180px;
    width: 180px;
    opacity: 0.5;
    position: absolute;
    color: #000000;
    font-size: 40px;
}

.nature div:nth-child(2) {
    border-radius: 50%;
    background-color: #F15C80;
    left: 50%;
    top: 30%;
    line-height: 180px;
}

.nature div:nth-child(3) {
    border-radius: 50%;
    background-color: #91E8E1;
    left: 10%;
    top: 50%;
    text-align: center;
    line-height: 180px;
}

.nature div:nth-child(4) {
    border-radius: 50%;
    background-color: #E4D354;
    right: 10%;
    top: 15%;
    text-align: center;
    line-height: 180px;
}

.nature div:nth-child(5) {
    border-radius: 50%;
    background-color: #90ED7D;
    left: 30%;
    top: 40%;
    text-align: center;
    line-height: 180px;
}

.nature div:nth-child(6) {
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 30px;
    height: 150px;
    line-height: 150px;
}
/*threePage style*/
.data {
    font-size: 40px;
    color: #000;
}

.data h6 {
    position: absolute;
    left: -1000px;
    width: 220px;
    height: 50px;
    background-color: #ADD8E6;
    text-align: center;
}

.data h6 span {
    display: inline-block;
    width: 300px;
    position: absolute;
    left: 250px;
    font-size: 30px;
    text-align: left;

}

.data div {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 50%;
    margin-left: -320px;
    top: 50px;
    font-size: 70px;
    text-align: center;
    color: #ADD8E6;
    animation: 1s myshake infinite;
    -webkit-animation: 1s myshake infinite;
}

@-webkit-keyframes myshake {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes myshake {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

.data h6:nth-child(2) {
    top: 200px;
}

.data h6:nth-child(3) {
    top: 300px;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.data h6:nth-child(4) {
    top: 400px;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.data h6:nth-child(5) {
    top: 500px;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.data h6:nth-child(6) {
    top: 600px;
    text-align: center;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.data h6:nth-child(7) {
    top: 700px;
    text-align: center;
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.data h6:nth-child(8) {
    top: 800px;
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.p2 {
    animation: myTranslate 1s forwards;
    -webkit-animation: myTranslate 1s forwards;
}

@-webkit-keyframes myTranslate {
    0% {
        transform: translate(-1000px, 0)
    }
    100% {
        transform: translate(1000px, 0)
    }
}

@keyframes myTranslate {
    0% {
        transform: translate(-1000px, 0)
    }
    100% {
        transform: translate(1000px, 0)
    }
}
/*fourPage style*/
.date p {
    width: 160px;
    color: #ADD8E6;
    font-size: 35px;
    position: absolute;
    right: 50px;
}

.date p:nth-child(1) {
    top: 300px
}

.date p:nth-child(2) {
    top: 550px
}
.experience .line1 {
    width: 55%;
    height: 5px;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 150px;
}

.experience .line2 {
    width: 1%;
    height: 60%;
    background: #ffffff;
    position: absolute;
    left: 400px;
    top: 250px;
}

.circle {
    position: absolute;
    left: 370px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    background-color: #ADD8E6;
}

.circle1 {
    top: 350px;
}

.circle2 {
    top: 600px;
}

.title {
    font-size: 80px;
    color: #ADD8E6;
    position: absolute;
    left: 100px;
    top: 50px;
}

.content h6 {
    width: 300px;
    font-size: 30px;
    position: absolute;
    left: -320px;
    top: 300px;
}

.content h6:nth-child(1) {
    top: 300px;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.content h6:nth-child(2) {
    top: 360px;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.content h6:nth-child(3) {
    top: 420px;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.content h6:nth-child(4) {
    top: 600px;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.content h6:nth-child(5) {
    top: 650px;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.content h6:nth-child(6) {
    width: 200px;
    top: 700px;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.p3 {
    font-weight: normal;
    animation: myTranslate1 1s forwards;
    -webkit-animation: myTranslate1 1s forwards;
}

@-webkit-keyframes myTranslate1 {
    0% {
        transform: translate(-300px, 0)
    }
    100% {
        transform: translate(400px, 0)
    }
}

@keyframes myTranslate1 {
    0% {
        transform: translate(-300px, 0)
    }
    100% {
        transform: translate(400px, 0)
    }
}
/*fivePage style*/
.titleZ {
    font-size: 80px;
    position: absolute;
    top: 50px;
    left: 75%;
    margin-left: -320px;
    color: #ADD8E6;
}

#container {
    width: 90%;
    height: 60%;
    position: absolute;
    left: 50%;
    margin-left: -45%;
    margin-top: 30%;
}

.over h6 {
    position: absolute;
    font-size: 80px;
    left: 70%;
    margin-left: -320px;
    top: -100px;
    color: #ADD8E6;
}

.p5 {
    animation: myTranslate2 1s forwards;
    -webkit-animation: myTranslate2 1s forwards;
}

@-webkit-keyframes myTranslate2 {
    0% {
        transform: translate(0, -100px)
    }
    100% {
        transform: translate(0, 250px)
    }
}

@keyframes myTranslate2 {
    0% {
        transform: translate(0, -100px)
    }
    100% {
        transform: translate(0, 250px)
    }
}

.cir {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 1px 1px 0 20px #ADD8E6;
    background: #ffffff;
    position: absolute;
    left: 70%;
    top: 30%;
    text-align: center;
    margin-left: -320px;
    font-size: 35px;
    opacity: 0.8;
}
/*sixPage style*/
.over p {
    padding-top: 100px;
}
